<div class="main">
  <div class="main__wrapper">
    <br><br>
    <h1>The <span class="main__title">progressive</span> social<br> network </h1>
    <br><br><br>
    <h2>Redefined. Free. Built on open source.</h2><br>
    <%=link_to('Sign up now', new_user_registration_path, method: :get, class: 'main-register-button')%>
  </div>
</div>
